body {
	background-color: #fff;
	color: #111;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-top: 0;
	padding-top: 0;
	margin-right: 0;
}

h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 3.1em;
	margin-top: 5px;
	margin-bottom: 5px;
}

a {
	color: #900;
	text-decoration: underline;
}

table.file {
	border-color: #900;
	border-style: solid;
	border-width: 2px;
}

table.file td {
	font-family: monospace;
	font-size: 10pt;
	padding-right: 10px;
	background-color: #fcc;
}

table.file p {
	font-size: 10pt;
	margin: 0;
	padding: 0;
}

table.file a {
	font-family: monospace;
	font-size: 10pt;
	font-weight: bold;
}

img.topright {
	position: relative;
	
}

table.future {
	border-color: #C88;
	border-style: solid;
	border-width: 2px;
}

table.future td {
	padding-right: 10px;
	background-color: #fdd;
	color: #666;
}

table.future p {
	font-size: 0.9em;
	margin: 0;
	padding: 0;
}

table.future a {
	font-family: monospace;
	font-size: 1.1em;
	font-weight: bold;
}
