@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap');

body {
    background-color: #FFFFFF;
    color: #111111;
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    text-align: right;
}

div {
    overflow: auto;
}

h1 {
    margin: 0.2em auto;
    display: block;
    width: 100%;
}

a {
    color: #0088ff;
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
    color: #242424;
}

.help {
    border-bottom: #FF9999 1px solid;
    color: #666666;
    padding: 4px 0;
}

.help a {
    display: block;
    width: 1000px;
    margin: 0 auto;
}

.mainframe {
    width: 1000px;
    margin: 0 auto;
}

.content {
    background: url(images/strawberry3.jpg) no-repeat;
}

.text a {
    color: #900;
}

.text-1, .text-2, .text-3 {
    text-align: left;
    float: right;
    clear: both;
    display: inline;
    margin: 0.5em 0 0.8em;
}

.text-1 {
    width: 36em;
}

.text-2 {
    width: 34em;
}

.text-3 {
    width: 32em;
}

.downloads {
    float: right;
    clear: both;
    width: 24em;
    padding: 0;
    list-style: none;
    border: 2px solid #900;
    background-color: #fcc;
    margin-bottom: 0.8em;
}

.downloads p {
    display: block;
    text-align: left;
    padding: 0.3em;
    margin: 0;
}

.downloads a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: #990000;
    margin: 0;
}

.downloads a b {
    color: #990000;
    text-decoration: underline;
}

.downloads a i {
    font-style: normal;
    color: #990000;
    text-decoration: underline;
}

.sponsor {
    text-align: left;
    padding-bottom: 1.5em;
    width: 100%;
}

.sponsor p {
    margin: 0.3em;
}
