body {
    background-color: #FFFFFF;
    color: #111111;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 10px;
    margin: 0;
    padding: 0;
    text-align: right;
}

div {
    overflow: auto;
}

h1 {
    font-family: Geneva, Arial, Helvetica, sans-serif;
    font-size: 4.1em;
    margin: 0.2em auto;
    display: block;
    width: 1000px;
}

p {
    font-size: 1.8em;
}

.help {
    border-bottom: #FF9999 1px solid;
    font-size: 14px;
    color: #666666;
    padding: 4px 0;
}

.help a {
    display: block;
    text-decoration: underline;
    color: #6666FF;
    width: 1000px;
    margin: 0 auto;
}

.content {
    width: 1000px;
    margin: 0 auto;
    background: url(images/strawberry3.jpg) no-repeat;
}

.text a {
    color: #900;
}

.text-1, .text-2, .text-3 {
    text-align: left;
    float: right;
    clear: both;
    display: inline;
    margin: 0.5em 0 0.8em;
}

.text-1 {
    width: 36em;
}

.text-2 {
    width: 34em;
}

.text-3 {
    width: 32em;
}

.downloads {
    float: right;
    clear: both;
    width: 37em;
    padding: 0;
    list-style: none;
    font-size: 1em;
    border: 2px solid #900;
    background-color: #fcc;
    margin-bottom: 0.8em;
}

.downloads p {
    display: block;
    text-align: left;
    font-size: 1.8em;
    padding: 0.3em;
    margin: 0;
}

.downloads a {
    display: block;
    font-size: 1.3em;
    padding: 5px;
    text-decoration: none;
    color: #990000;
    margin: 0;
}

.downloads a b {
    color: #990000;
    font-size: 1.15em;
    text-decoration: underline;
}

.downloads a i {
    font-style: normal;
    color: #990000;
    text-decoration: underline;
}

.sponsor {
    text-align: left;
    padding-bottom: 1.5em;
    width: 100%;
}

.sponsor p {
    font-size: 1.1em;
    margin: 0.3em;
}
