body {
	background-color: #FFFFFF;
	color: #111111;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	margin: 0px;
	padding: 0px;
}

#top {
	border-bottom-color: #FF9999;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

#leader {
	font-family: Arial;
	font-size: 14px;
	color: #666666;
	width: 70em;
}

#leader a {
	text-decoration: underline;
	color: #6666FF;
}

#content {
	width: 100em;
	height: 55em;
}

#main {
	background: url(images/strawberry.jpg) no-repeat left bottom;
}

#main a {
	color: #900;
}

h1 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 4.1em;
	margin-top: 0.2em;
	margin-right: 0;
	margin-bottom: 0.2em;
	margin-left: 0;
}

p {
	font-size: 1.8em;
}

.lr {
	text-align: left;
	float: right;
	clear: both;
	display: inline;
	margin-left: 0em;
	margin-right: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.downloads {
	float: right;
	clear: both;
	margin: 2em 3em 1em 0;
	padding: 0;
	list-style: none;
}

.downloads li {
	font-size: 1em;
	border: 2px solid #900;
	background-color: #fcc;
	margin-bottom: 0.8em;
}

.downloads p {
	display: block;
	text-align: left;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 1.8em;
	padding: 3px;
	margin: 0em;
}

.downloads a {
	display: block;
	/*font-family: Arial, Helvetica, sans-serif;*/
	font-size: 1.3em;
	padding: 5px;
	text-decoration: none;
	color: #000;
        margin: 0em;
}

.downloads a b {
	color: #990000;
	font-size: 1.15em;
	text-decoration: underline;
}

.downloads a i {
	font-style: normal;
	color: #990000;
	text-decoration: underline;
}
